.madiv{
    border: 3px solid black;
    background:  lightcoral;
    margin-bottom: 5px;
    padding: 5px;
}

td,th{
    border: 1px solid black;
}
th{
    background: lightblue;
}
td{
    color:white;
    background: black
}
th:hover{
    background: blue;
}