body{
    padding-top: 70px;
    background-image: url(../../photo/pc.jpg);
    background-repeat:no-repeat;
   background-attachment: fixed;
}

footer{
    margin: 100px 0;
}

.main{
    min-height:80vh;
}

tr th{
    padding: 5px;
    text-align: center;
}

td{
    padding: 6px;
    font-family: tahoma;
}